{{ define "createPerson" }}

  {{ template "header" }}

    <div class="card">
      <div class="card-header>
        Empleados
      </div>

      <div class="card-body">
        <form method="post" action="/insertar" >
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Tu nombre">
          </div>
          <div class="mb-3">
            <label for="correo" class="form-label">Email address</label>
            <input type="email" class="form-control" id="correo" name="correo" placeholder="name@example.com">
          </div>

          <button type="submit" class="btn btn-success" > Agregar </button>

        </form>
      </div>

    </div>


  {{ template "footer" }}

{{end}}